<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Project Timesheet Extension</h2>
            <p>This module allows ...</p>
            <!-- TOOD ul -->
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Installation</h2>
        </div>
        <div class="oe_span12">
            <p class="oe_mt32">To install this module, you need to:
                <ul>
                    <li>You must have installed or available to install the module <b>base</b>.</li>
                </ul>
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <!-- <h2 class="oe_slogan">Usage</h2> -->
        </div>
        <div class="oe_span12">
                <p class="oe_mt32">To use this module, you need to go project task:
                Attached three fields to the project form view:
                <br></br>- Name of the module
                <br></br>- Functionality
                <br></br>- Link to Github / Gitlab
                <br></br>It also allows the search by name of the module and appears in the kanban view of tasks in the name of the module on which it is working.
                </p> 
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <div class="oe_span12">
            <h2 class="oe_slogan">Credits</h2>
        </div>
        <div class="oe_span12">
            <h3>Contributors</h3>
            <ul>
                <li>Josep Lomba &lt;<a href="mailto:jfv@anubia.es">joseplomba15@gmail.com</a>&gt;</li>
            </ul>
        </div>
        <div class="oe_span12">
            <h3>Maintainer</h3>
            <p>
                This module is maintained by the OCA.<br/>
                OCA, or the Odoo Community Association, is a nonprofit organization whose mission is to support the collaborative development of Odoo features and promote its widespread use.<br/>
                To contribute to this module, please visit <a href="http://odoo-community.org">http://odoo-community.org</a>.<br/>
                <a href="http://odoo-community.org"><img class="oe_picture oe_centered" src="http://odoo-community.org/logo.png"></a>
            </p>
        </div>
    </div>
</section>
